body
{
background-position: center;
background-size: cover;
}
.heading
{
    width: 100%;
    text-align: left;
    margin-bottom: 5px;
}
.heading h3
{
    display: inline;
    font-size: 22px;
}
.heading button
{
    float: right;
    border: 1px solid whitesmoke;
}
.footer
{
    background-color: grey;
    color: white;
    line-height: 2;
    margin-bottom: 0px;
    bottom: 0px;
    position: sticky;
    width: 100%;    
}
.modal-body
{
    text-align: left;
    
}
canvas
{
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgb(0, 255, 251);
    border: 2px solid rgb(0, 225, 255);
}